<h1>Bill Show Page</h1>
Bill ID: <%= @bill.id %>
<br>
User ID: <%= @bill.user_id %>
<br>
Bill Name: <%= @bill.name %>
<br>
<% unless @bill.description.blank? %>
	Bill Description: <%= @bill.description %>
<% end %>
<br>
Bill Amount: <%= @bill.amount %>
<br>
<% @guests.each do |guest| %>
	<%= guest.name %> paid <%= guest.amount_paid %>; <%= guest.name %> should have paid <%= guest.amount_should_have_paid %>
	<br>
<% end %>
<%= link_to "Back to the index", root_url %>