<h2>Bill #<%= @bill.id %> Details</h2>
<br>
Created by: <%= @bill.user.name %>
<br>
Bill Name: <%= @bill.name %>
<br>
<% unless @bill.description.blank? %>
	Bill Description: <%= @bill.description %>
<% end %>
<br>
Bill Amount: $<%= @bill.amount %>
<br>
<br>
<% @guests.each do |guest| %>
	<%= guest.name %> paid $<%= guest.amount_paid %>. <%= guest.name %> should have paid $<%= guest.amount_should_have_paid %>.
	<br>
<% end %>
<br>
<% @debts.each do |debt| %>
	<%= debt.debtor_name %> owes <%= debt.creditor_name %> $<%= debt.amount %>.
	<br>
<% end %>
<br>
<%= link_to "Back to the index", root_url %>
<br>
<button id="email-bill" class="btn btn-primary">Email this Bill</button>
<br>
<br>
<% if current_user.nil? %>
	<%= link_to "Create account", new_user_url %> or <%= link_to "Login", new_session_url %> to save your bill information!
<% end %>
<br>