<!DOCTYPE html>
<html>
<head>
  <title>IOU: An App for Group Expenses</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if flash[:notice] %>
		<div class="alert">
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		  <strong>Message:</strong> <%= flash[:notice] %>
		</div>
	<% end %>

<div class="container">
	<div class="row">
		<div class="span2">
			Dashboard
			<br>
			All Expenses
			<br>
			Friends
			<br>
			Add A Friend
			<br>
		</div>
		<div class="span7"><%= yield %></div>
		<div class="span3">
			<%= link_to "Create Account", new_user_url %> | <%= link_to "Login", new_session_url %>
			<br>
			<h3>How to use:</h3>
			<ol>
				<li>Add a new bill.</li>
				<li>Select if you want to split evenly or split by exact amounts.</li>
				<li>List your friends who were part of the bill.</li>
				<li>IOU will calculate who owes what amount to whom.</li>
			</ol>
			<b>So easy!</b>
			<br>
			<br>
			Other features:
			<ul>
				<li>Edit your bills.</li>
				<li>View payment history.</li>
				<li>Keep track of payments to friends.</li>
				<li>Use Paypal to pay friends.</li>
			</ul>
		</div>
	</div>
</div>

</body>
</html>
