<!DOCTYPE html>
<html>
<head>
  <title>IOU: An App for Group Expenses</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<div class="row">
		<div class="span2">
		</div>
		<div class="span7">
			<% if flash[:notice] %>
				<br>
				<div class="alert">
				  <button type="button" class="close" data-dismiss="alert">&times;</button>
				  <strong>Message:</strong> <%= flash[:notice] %>
				</div>
			<% end %>

			<%= yield %></div>
		<div class="span3">
			<% if current_user.guest? %>
				<%= link_to "Create Account", new_user_url %> | <%= link_to "Login", new_session_url %>
			<% else %>
				Logged in as: <%= current_user.email %>
				<br>
				<%= link_to "Profile", user_url(current_user) %>
			<% end %>
			<br>
			<br>
			<h3>How to use:</h3>
			<ol>
				<li>Add a new bill.</li>
				<li>Select if you want to split evenly or split by exact amounts.</li>
				<li>List your friends who were part of the bill.</li>
				<li>IOU will calculate who owes what amount to whom.</li>
				<li>Email bill details to yourself and friends.</li>
			</ol>
			<br>
			<h4>Create a free account for more features:</h4>
			<ul>
				<li>Save and edit your bills.</li>
				<li>View payment history.</li>
				<li>Keep track of payments to friends.</li>
				<li>Use Paypal to pay friends.</li>
			</ul>
			<br>
			<h4>About Belda</h4>
			<p>I code in Ruby, Rails, and JavaScript.</p>
			<p>Visit my Github: <a href="http://www.github.com/hellobelda">www.github.com/hellobelda</a></p>
			<p>Visit my LinkedIn: <a href="http://www.linkedin.com/in/beldachan">www.linkedin.com/in/beldachan</a></p>
		</div>
	</div>
</div>

<script>
if (typeof Iou === "undefined") {
	Iou = {};
}

<% unless current_user.guest? %>
	Iou.currentUserName = <%= current_user.name %>;
<% else %>
	Iou.currentUserId = "You";
<% end %>
</script>
</body>
</html>
